@import url('https://fonts.googleapis.com/css2?family=Ubuntu');
*{
    box-sizing: border-box ;
}

body{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.bg{
    background: url('https://images.squarespace-cdn.com/content/v1/5c591ba97788971d01157ef6/1549466580767-IC5LRRHBNCZLTYXLRHIP/ke17ZwdGBToddI8pDm48kDFgITcRoterXoQdllT5ciUUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcV7ZyRJyI8bwZiMJRrgPaAKqUaXS0tb9q_dTyNVba_kClt3J5x-w6oTQbPni4jzRa/corktowninterior.jpg') no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px ;
    width: 100vw ;
    height: 100vh;
    z-index: -1;
    filter: blur(0px);
}

.loading-text{
    font-size: 50px;
    color: #fff;
}