@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    box-sizing: border-box ;
}

body{
    background-color: purple;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.user-form{
    width: 100%;
    max-width: 700px;
}

input{
    width: 100%;
    display: block;
    background-color: #4c2;
    color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 1rem;
    font-family: inherit;
    font-size: 16px;

    box-shadow:0 5px 10px rgba(154, 160, 185 , 0.05), 0 15px 40px (0, 0, 0 , 0.5);
}

input:focus{
    outline: none;
}

input::placeholder{
    color: #fff;

}

.card{
    max-width: 800px;
    background-color: #4c2;
    border-radius: 20px;
    margin: 0 16px;
    padding: 3rem;
    display: flex;
    font-family: inherit;
    
    box-shadow:0 5px 10px rgba(154, 160, 185 , 0.05), 0 15px 40px (0, 0, 0 , 0.5);

}

.avatar{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.user-info{
    color: #eee;
    margin-left: 32px;
}

h2{
    margin-top: 0;
}

.user-info ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    max-width: 400px;
   
}
.user-info ul li{
    display: flex;
    align-items: center;
    margin: 0 1rem;
}

.user-info ul li strong{
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.repo{
    background-color:white ;
    text-decoration: none;
    color: rgb(58, 55, 55);
    font-size: 0.7rem;
    padding:0.25rem 0.5rem;
    margin: 10px;
    display: inline-block;
}

@media (max-width: 500px){
    .card{
        flex-direction: column;
        align-items: center;
        max-width: 450px;
       
    }
    .user-form{
        max-width: 400px;
    }
}